.logo {
    scale: 1.5;
}

th,
td {
    padding: 20px 0 20px 0 !important;
}

.p-4.main-page {
    height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fz-custom {
    font-size: 30px !important;
}

.fz-custom-25 {
    font-size: 22px !important;
}